:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Light theme by default */
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
}

/* Override mapbox default styles for better UX */
.mapboxgl-popup-content {
  padding: 15px;
}

.mapboxgl-popup-close-button {
  font-size: 16px;
  padding: 5px;
}

.mapboxgl-ctrl-logo {
  margin: 10px !important;
}